<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <select id="Sel" resultMap="BaseResultMap">
        select * from t_user where id = #{id}
    </select>

    <update id="add" >
      update  t_user set age=age+5 where id=1;
    </update>

    <update id="subtract">
      update  t_user set age=age-5 where id=2;
    </update>

</mapper>
